div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #53b7ae;
    color: #ffffff !important;
}

.card:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Đổ bóng card */
    cursor: pointer;
}

.card:hover a {
    color: #53b7ae !important; /* Màu bạn muốn đổi khi hover */
}

.card:hover button {
    color: black !important; /* Màu bạn muốn đổi khi hover */
    background-color: white;
    border-color: black;

}

.card button:hover {
    color: white !important; /* Màu bạn muốn đổi khi hover */
    background-color: #53b7ae;
    border-color: white;
}

.card button {
    color: black !important; /* Màu bạn muốn đổi khi hover */
    background-color: white;
    border-color: black;
}

.card button:active {
    color: black !important; /* Màu bạn muốn đổi khi hover */
    background-color: white !important;
    border-color: black !important;
}

.modal-backdrop {
    /* Thay đổi màu nền overlay thành màu bạn muốn */
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.modal-content {
    border: none !important;
}


.custom:hover {
    color: white !important; /* Màu bạn muốn đổi khi hover */
    background-color: #53b7ae !important;
    border-color: #53b7ae !important;
}

.custom:active {
    color: black !important; /* Màu bạn muốn đổi khi hover */
    background-color: white !important;
}

.input-custom:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgb(128, 128, 128) !important;
}



.input-custom {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgb(128, 128, 128) !important;
}
